*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
*.xdv
*.bbl
*.blg
*.DS_Store
*.svg
**/generated/
**/logs/
**/checkpoints/
**/results/
**/notebooks/
**/data/
**/__pycache__/
/convformer/scripts/ETT_script/custom.sh
